*, ::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro',sans-serif;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

a:focus,button:focus,input:focus,textarea:focus {
    outline: 0;
}

button {
    border: none;
    cursor: pointer;
}

/* Cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,.2)
}
#header-content {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: color 0.3s;
    color: #333;
}

#logo-img-cont {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    background-size: cover;
    margin-right: 1.5rem;
}

#logo-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
}

#logo-sub {
    color: #333;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

#navbar {
   display: flex;
}

.header-link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

.header-link:hover,
#logo-sub:hover {
    color: #D14C49; 
}

#burguer-cont {
    display: none;
    width: 3rem;
    padding: 2.2rem 0;
}

.burguer-menu,
.burguer-menu-close {
    width: 100%;
}

.display-none {
    display: none;
}

.small-menu {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1)
}

.small-menu--active {
    visibility: hidden;
    opacity: 0
}

.small-menu-link a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #333;
    text-align: right;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s
}

.small-menu-link a:hover {
    color: #7843e9
}

.small-menu-link:first-child a {
    border-top: 1px solid #eee
}

.small-menu-link-last {
    border-bottom: 0
}

#botton-header {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    z-index: 900;
    background: linear-gradient(to top,rgba(231, 108, 106, 0.7),rgba(204, 55, 51, 0.9)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    padding: 1rem;
    text-align: center;
    animation-name: botton-header-show;
    animation-duration: .5s;
}

#botton-header h1 {
   color: #fff;
}

.home {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
    animation-name: home-show;
    animation-duration: 1s;
}

#home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90rem;
    width: 92%;
}

#home-title {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #333;
    font-weight: 800;
}

#home-info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.info {
    color: #333;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

#home-btn {
    margin-top: 5rem;
    text-align: center;
}

.btn {
    padding: 1.5rem 8rem;
    font-size: 2rem;
    background: linear-gradient(to top,rgba(231, 108, 106, 0.7),rgba(204, 55, 51, 0.9)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 2rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.btn:hover {
    transform: translateY(-3px)
}

.contact-btn {
    width: 30%;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    border-radius: 10px;
}

#home-mouse-scroll-cont {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#mouse {
    width: 80px;
    height: 110px;
    border: 2px solid #333;
    border-radius: 60px;
    overflow: hidden;
}

#mouse::before {
    content: '';
    width: 9px;
    height: 18px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation-name: mouse-scroll;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

@keyframes mouse-scroll {
    0%   {opacity: 1;top: 15px;}
    100% {opacity: 0;top: 70px;}
}

.projects, 
.about,
.contact {
    color: #333;
    position: relative;
}

.about-container,
.projects-container,
.contact-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.about-container {
    text-align: center;
    margin-bottom: 8rem;
}

.subtitle {
    text-align: center;
    color: #111;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 5rem;
}

.about-cont-title,
.project-cont-title,
.contact-cont-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 4rem;
    color: #111;
}

.about-cont-title::after {
    content: '';
    position: absolute;
    top: calc(11% + 1.75rem);
    height: 5px;
    width: 10rem;
    background: #D14C49;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.project-cont-title::after {
    content: '';
    position: absolute;
    top: calc(7% + 1rem);
    height: 5px;
    width: 10rem;
    background: #D14C49;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.description {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 60rem;
    margin: auto;
    margin-bottom: 5rem;
    line-height: 1.6;
}

.btn-average {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

.projects {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac885…/c157c/assets/svg/common-bg.svg);
}

.second-pad {
    padding: 4rem 0;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 4rem;
    align-items: center;
}

.skill {
    width: 25%;
    padding: 1rem;
}

.project {
    list-style: none;
    margin-bottom: 2rem;
}

.project a {
    font-weight: 700;
    font-size: 2.5rem;
    color: #555;
}

.project a:hover {
    color: #D14C49;
}

.projects-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;
}

.projects-row:last-child {
    margin-bottom: 0
}

.projects-img-cont {
    border: 10px solid #111;
    border-radius: 10px;
    overflow: hidden;
}
.projects-row img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.project-content {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.project-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.project-description {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.contact {
    background-size: cover;
    background-position: center
}

.contact-form-container {
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto
}

.contact-form-field {
    margin-bottom: 4rem
}

.contact-form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left
}

.contact-form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600
}

.footer {
    position: relative;
    width: 100%;
    background: #D14C49;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.4rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1.2rem;
  font-weight: 300;
}

@keyframes botton-header-show {
    0%   {left:-600px; top:80px;}
    100% {left:0px; top:80px;}
}


@keyframes home-show {
    0%   {left:0px; top:-300px;}
    100% {left:0px; top:0px;}
}

@media only screen and (min-width: 1900) {
    html {
        font-size:65%
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 59%;
    }
    #botton-header {
        top: 83px;
    }
}


@media only screen and (max-width: 900px) {
    html {
        font-size: 56%;
    }
    #botton-header {
        top: 73.5px;
    }
    #header-content {
        padding: 0 2rem;
    }
    #logo-img-cont {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.2rem;
    }
    .header-link {
        padding: 3rem 1.8rem;
        font-size: 1.5rem;
    }
    #mouse {
        width: 60px;
        height: 90px;
        border: 2px solid #333;
        border-radius: 60px;
        overflow: hidden;
    }
    #mouse::before {
        width: 8px;
        height: 16px;
    }
    .sec-pad {
        padding: 2rem 0;
    }
    .about-cont-title::after {
        top: calc(11% + 1.6rem);
    }
    .project-cont-title::after {
        top: calc(4% + 0.5rem);
    }
    .skill {
        width: 30%;
    }
    .projects-row {
        grid-template-columns:1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem;
        text-align: center;
    }
    .project-content {
        align-items:center
    }
}

@media only screen and (max-width: 720px) {
    #header-content {
        padding: 0 2rem;
    }
    .about-cont-title::after {
        top: calc(10% + 1rem);
    }
    .project-cont-title::after {
        top: calc(4% + 1.5rem);
    }
    .skill {
        width: 40%;
    }
    #logo-git {
        width: 75%;
    }
}

@media only screen and (max-width: 620px) {
    html {
        font-size: 47.5%;
    }
    #navbar {
        display: none;
    }
    #botton-header {
        top: 59.5px;
    }
    #burguer-cont {
        display: block;
    }
    .small-menu--active {
        visibility:visible;
        opacity: 1
    }
    .home {
        height: unset;
        min-height: unset;
    }
    #home-content {
        padding: 20rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0,0);
    }
    #home-title {
        font-size: 4rem;
    }

    #home-mouse-scroll-cont {
        display: none;
    }
    .about-cont-title::after {
        top: calc(10% + 1rem);
    }
    .project-cont-title::after {
        top: calc(4% + 2.2rem);
    }
    .skill img {
        width: 70px;
        height: 82px;
    }
    #logo-git {
        width: 110px;
        height: 70px;
    }
    .project-title {
        font-size:2.4rem
    }
    .project-description {
        font-size:1.7rem
    }
    .contact-form-container {
        padding:3rem
    }
    .contact-form-field {
        margin-bottom:3rem
    }
    .contact-btn {
        width:100%
    }
}

@media only screen and (max-width: 420px) {
    .about-cont-title::after {
        top: calc(8% + 3rem);
    }
    .project-cont-title::after {
        top: calc(4% + 2.75rem);
    }
}

