* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Source Sans Pro", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: #f8f8f8;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro',sans-serif;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

/* Cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 100px rgba(0,0,0,.1)
}
#header-content {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
}

#logo-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: color 0.3s;
}

#logo-img-cont {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
}

#logo-img {
    width: 100%;
    height: 100%;
    display: block;
}

#logo-sub {
    color: #333;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

#navbar {
   display: flex;
}

.header-link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

#navbar li a:hover,
#logo-sub:hover {
    color: #D14C49; 
}

#burguer-cont {
    display: none;
    width: 3rem;
    padding: 2.2rem 0;
}

.burguer-menu,
.burguer-menu-close {
    width: 100%;
}

.display-none {
    display: none;
}

#botton-header {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    z-index: 900;
    background: linear-gradient(to top,rgba(231, 108, 106, 0.7),rgba(204, 55, 51, 0.9)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    padding: 1rem;
    text-align: center;
    animation-name: botton-header-show;
    animation-duration: .5s;
}

#botton-header h1 {
   color: #fff;
}

.home {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
    animation-name: home-show;
    animation-duration: 1s;
}

#home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90rem;
    width: 92%;
}

#home-title {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #333;
    font-weight: 800;
}

#home-info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.info {
    color: #333;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

#home-btn {
    margin-top: 5rem;
    text-align: center;
}

.btn {
    padding: 1.5rem 8rem;
    font-size: 2rem;
    background: linear-gradient(to top,rgba(231, 108, 106, 0.7),rgba(204, 55, 51, 0.9)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 2rem;
    box-shadow: 0 5px 15px 0 rgba(0, 116, 118,.4);
    transition: transform .3s;
}

#home-mouse-scroll-cont {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#mouse {
    width: 80px;
    height: 110px;
    border: 2px solid #333;
    border-radius: 60px;
    overflow: hidden;
}

#mouse::before {
    content: '';
    width: 9px;
    height: 18px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation-name: mouse-scroll;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

@keyframes mouse-scroll {
    0%   {opacity: 1;top: 15px;}
    100% {opacity: 0;top: 70px;}
}

.projects, .about {
    text-align: center;
    margin-top: 5px;
    transition: 0.9s;
}

.about {
    background: #f8f8f8;
    color: #333;
    position: relative;
}

.about-container {
    max-width: 120rem;
    margin: auto;
    margin-bottom: 8rem;
    width: 92%;
}

.about-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    color: #111;
}

.about-title::after {
    content: '';
    position: absolute;
    top: calc(6% + 1.5rem);
    height: 5px;
    width: 10rem;
    background: #D14C49;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.about-subtitle {
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    margin-bottom: 4rem;
    line-height: 1.6;
}

.about-cont-title {
    text-align: center;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.btn-average {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.skill {
    width: 25%;
    padding: 1rem;
}

@keyframes botton-header-show {
    0%   {left:-600px; top:80px;}
    100% {left:0px; top:80px;}
}


@keyframes home-show {
    0%   {left:0px; top:-300px;}
    100% {left:0px; top:0px;}
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 59%;
    }
    #botton-header {
        top: 80px;
    }
}


@media only screen and (max-width: 900px) {
    html {
        font-size: 56%;
    }
    #botton-header {
        top: 73.5px;
    }
    #header-content {
        padding: 0px 2rem;
    }
    #logo-img-cont {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.2rem;
    }
    .header-link {
        padding: 3rem 1.8rem;
        font-size: 1.5rem;
    }
    #mouse {
        width: 60px;
        height: 90px;
        border: 2px solid #333;
        border-radius: 60px;
        overflow: hidden;
    }
    #mouse::before {
        width: 8px;
        height: 16px;
    }
    .skills {
        gap: 1rem;
    }
    .skill {
        width: 30%;
    }
}

@media only screen and (max-width: 720px) {
    #header-content {
        padding: 0 2rem;
    }
    .about-title::after {
        top: calc(5% + 1.5rem);
    }
    .skills {
        gap: 1rem;
    }
    .skill {
        width: 40%;
    }
    #logo-git {
        width: 75%;
    }
}

@media only screen and (max-width: 620px) {
    html {
        font-size: 52.5%;
    }
    #navbar {
        display: none;
    }
    #botton-header {
        top: 65.5px;
    }
    #burguer-cont {
        display: block;
    }
    .home {
        height: unset;
        min-height: unset;
    }
    #home-content {
        padding: 20rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0,0);
    }
    #home-title {
        font-size: 4rem;
    }

    #home-mouse-scroll-cont {
        display: none;
    }
    .about-title::after {
        top: calc(4.5% + 1.5rem);
    }
    .skills {
        gap: 2rem;
    }
    .skill img {
        width: 70px;
        height: 82px;
    }
    #logo-git {
        width: 110px;
        height: 70px;
    }
}

